<section class="Mines">
    <h2>Mines</h2>

    <!-- Credits -->
    <div class="row">
        <label for="m-bet">Credits to bet:</label>
        <input id="m-bet" name="bet" type="number" min="1" step="1" value="5">
    </div>

    <!-- number of mines -->
    <form id="m-form" class="row">
        <label for="m-mines">Mines:</label>
        <input id="m-mines" name="mines" type="number" min="1" max="15" step="1" value="5">
        <button type="submit" id="m-start" >Start</button>
    </form>

    <!-- 4x4 -->
    <div id="m-grid" class="grid-4x4">
        <button class="cell" data-i="0"></button>
        <button class="cell" data-i="1"></button>
        <button class="cell" data-i="2"></button>
        <button class="cell" data-i="3"></button>

        <button class="cell" data-i="4"></button>
        <button class="cell" data-i="5"></button>
        <button class="cell" data-i="6"></button>
        <button class="cell" data-i="7"></button>

        <button class="cell" data-i="8"></button>
        <button class="cell" data-i="9"></button>
        <button class="cell" data-i="10"></button>
        <button class="cell" data-i="11"></button>

        <button class="cell" data-i="12"></button>
        <button class="cell" data-i="13"></button>
        <button class="cell" data-i="14"></button>
        <button class="cell" data-i="15"></button>
    </div>
    <p id="m-status">Set mines and press Start to begin!</p>
</section>