<nav class="nav-full glass-subtle">

  <div class="nav-logo big" onclick="location.href='/home'" style="cursor:pointer;">
    {{siteName}}
  </div>

  <div class="nav-links">
    <a href="#" class="nav-item">Profile</a>
    <a href="/leaderboard" class="nav-item">Leaderboard</a>

    <div class="wallet-dropdown">
      <a href="/wallet" class="nav-item wallet">Wallet ▾</a>

      <div class="wallet-card glass-float">
        <p class="wc-label">Current Balance</p>
        <h3 class="wc-balance">${{balance}}</h3>

        <a href="/wallet" class="wc-link">Open Wallet →</a>
      </div>
    </div>
  </div>

</nav>
