<nav class="nav-full glass-subtle">
  <div class="nav-logo big" onclick="location.href='/home'" style="cursor:pointer;">
    {{siteName}}
  </div>
  <div class="nav-links">
    <a href="#" class="nav-item">Profile</a>
    <a href="#" class="nav-item">Leaderboard</a>
    <a href="#" class="nav-item wallet">Wallet ▾</a>
  </div>
</nav>