<div class="about-container">
    {{>nav }}
  <h1 class="about-title">ABOUT THE TEAM</h1>

  <div class="about-row">
    <div class="about-card">
      <div class="about-photo photo-adam"></div>
      <h3>Adam</h3>
      <p class="about-text">Description</p>
    </div>

    <div class="about-card">
      <div class="about-photo photo-connor"></div>
      <h3>Connor</h3>
      <p class="about-text">Description</p>
    </div>

    <div class="about-card">
      <div class="about-photo photo-linley"></div>
      <h3>Linley</h3>
      <p class="about-text">I'm from Dallas, TX and studying Mechanical Engineering at CU Boulder!</p>
    </div>

    <div class="about-card">
      <div class="about-photo photo-nathan"></div>
      <h3>Nathan</h3>
      <p class="about-text">Description</p>
    </div>

    <div class="about-card">
      <div class="about-photo photo-jackie"></div>
      <h3>Jackie</h3>
      <p class="about-text">I'm from Littleton, CO and I'm studying Computer Science at CU Boulder!</p>
    </div>
  </div>
</div>