<div class="bg-layer neon-clouds"></div>
<div class="bg-layer caustics"></div>
<div class="bg-layer particles"></div>
<div class="bg-layer glow-ripple"></div>
<div class="bg-layer bloom-overlay"></div>
<div class="bg-layer neon-dots"></div>


<div class="center-stage login-entry" 
     style="min-height: calc(100vh - 100px); display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 0 20px;">
  <p class="bw-slogan stay" style="margin: 0 20px 2rem; font-size: 3rem; text-align: center;">
    Leaderboard
  </p>

  <div class="login-center" style="display: flex; flex-direction: column; gap: 2rem; width: 90%; max-width: 600px;">

{{#each users}}
  <div>{{this.username}}</div>
{{/each}}

  </div>
</div>


<div id="page-transition" class="page-transition"></div>

<footer class="footer-panel glass-subtle">
  <p>21+ • Gamble responsibly • Support • Terms • Privacy</p>
</footer>
