<div class="bg-layer neon-clouds"></div>
<div class="bg-layer caustics"></div>
<div class="bg-layer particles"></div>
<div class="bg-layer glow-ripple"></div>
<div class="bg-layer bloom-overlay"></div>
<div class="bg-layer neon-dots"></div>


<div class="center-stage login-entry" 
     style="min-height: calc(100vh - 100px); display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 0 20px;">
  <p class="bw-slogan stay" style="margin: 0 20px 2rem; font-size: 3rem; text-align: center;">
    Leaderboard
  </p>

  <div class="login-center" style="display: flex; flex-direction: column; gap: 2rem; width: 90%; max-width: 600px;">
<div class ="row">
{{#each users}}
<div style="display: flex; gap: 1rem;">
  <div class="col-md-12 mb-12" style="text-align: left; gap: 2rem; display: flex; flex-direction: column; padding: 1rem; background: rgba(255,255,255,0.1); border-radius: 12px;">
      {{this.username}}
  </div>

  <div class="col-md-4 mb-4" style="text-align: left; gap: 2rem; display: flex; flex-direction: column; padding: 1rem; background: rgba(255,255,255,0.1); border-radius: 12px;">
      {{this.wins}} wins
  </div>
</div>
{{/each}}
</div>
<hr>


  </div>
</div>


<div id="page-transition" class="page-transition"></div>

<footer class="footer-panel glass-subtle">
  <p>21+ • Gamble responsibly • Support • Terms • Privacy</p>
</footer>
