<div id="auth-wrapper" class="login-page fade-in">

  {{#each backgroundLayers}} 
    <div class="bg-layer {{this}}"></div> 
  {{/each}}

  <div class="fish-swarm">
    <img src="/resources/images/fish.png" class="fish f1">
    <img src="/resources/images/fish.png" class="fish f2">
    <img src="/resources/images/fish.png" class="fish f3">
    <img src="/resources/images/fish.png" class="fish f4">
    <img src="/resources/images/fish.png" class="fish f5">
    <img src="/resources/images/fish.png" class="fish f6">
    <img src="/resources/images/fish.png" class="fish f7">
    <img src="/resources/images/fish.png" class="fish f8">
  </div>

  <div class="auth-container">

    <h1 class="auth-logo">BETWISE</h1>
    <p class="auth-tagline">Flow With The Odds</p>

    <div class="auth-card">

      {{#if error}}
        <div class="auth-error">{{message}}</div>
      {{/if}}

      <form class="auth-form" action="/login" method="post">

        <div class="auth-input">
          <label>Username</label>
          <input type="text" name="username" required>
        </div>

        <div class="auth-input">
          <label>Password</label>
          <input type="password" name="password" required>
        </div>

        <button class="auth-primary-btn" type="submit">LOG IN</button>

        <a href="/register" class="auth-secondary-btn" data-fade>
          Create Account
        </a>

      </form>
    </div>

  </div>
</div>