<div id="auth-wrapper" class="register-page fade-in">


 {{#each backgroundLayers}}
 <div class="bg-layer {{this}}"></div>
 {{/each}}


 <!-- Pink Fish -->
 <div class="fish-swarm register-fish">
   <img src="/resources/images/pinkfish.png" class="pf pf1" />
   <img src="/resources/images/pinkfish.png" class="pf pf2" />
   <img src="/resources/images/pinkfish.png" class="pf pf3" />
   <img src="/resources/images/pinkfish.png" class="pf pf4" />
   <img src="/resources/images/pinkfish.png" class="pf pf5" />
   <img src="/resources/images/pinkfish.png" class="pf pf6" />
 </div>


 <div class="auth-container">


   <h1 class="auth-logo">BETWISE</h1>
   <p class="auth-tagline">Flow With The Odds</p>


   <div class="auth-card">


     {{#if error}}
     <div class="auth-error">{{message}}</div>
     {{/if}}


     <form class="auth-form register-form" action="/register" method="post">


       <div class="auth-input">
         <label for="fname">First Name</label>
         <input id="fname" name="fname" type="text" required placeholder="Enter your first name">
       </div>


       <div class="auth-input">
         <label for="lname">Last Name</label>
         <input id="lname" name="lname" type="text" required placeholder="Enter your last name">
       </div>


       <div class="auth-input">
         <label for="email">Email</label>
         <input id="email" name="email" type="email" required placeholder="Enter your email"
           pattern="^[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}$">
       </div>


       <div class="auth-input">
         <label for="username">Username</label>
         <input id="username" name="username" type="text" required placeholder="Enter your username">
       </div>


       <div class="auth-input">
         <label for="password">Password</label>
         <input id="password" name="password" type="password" required placeholder="Enter your password"
           pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9]).{8,}">
       </div>


       <button class="auth-primary-btn" type="submit">Sign Up</button>


       <a href="/login" class="auth-secondary-btn">Back to Login</a>
     </form>


   </div>
 </div>
</div>
