<div class="transition-page">

  {{!-- Background layers --}}
  {{#each backgroundLayers}}
    <div class="bg-layer {{this}}"></div>
  {{/each}}

  <div class="transition-center">
    <h1 class="transition-logo">{{titleText}}</h1>
    <p class="transition-sub">{{subtitleText}}</p>
  </div>

</div>